<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studymate.ai">

    <application
        android:allowBackup="true"
        android:label="StudyMate AI"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity android:name="com.studymate.ai.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.studymate.ai.LoginActivity" />
        <activity android:name="com.studymate.ai.RegisterActivity" />
        <activity android:name="com.studymate.ai.DashboardActivity" />

    </application>

</manifest>
